<div class="page-container">
  <div class="page-header">
    <h2><i class="pi pi-lock"></i> {{ ts.t('permissions.title') }}</h2>
    <!-- <button pButton [label]="ts.t('permissions.add')" icon="pi pi-plus" (click)="openAdd()" *ngIf="auth.hasPermission('add_permission')"></button> -->
  </div>

  <div class="table-toolbar">
    <span class="p-input-icon-left">
      <!-- <i class="pi pi-search"></i> -->
      <input #searchInput type="text"
             pInputText
             [(ngModel)]="searchTerm"
             (ngModelChange)="onSearchChange()"
             [placeholder]="ts.t('permissions.search')" />
    </span>
  </div>

  <p-table [value]="permissions()" [lazy]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50, 100]"
          [totalRecords]="totalRecords()" [loading]="loading()" (onLazyLoad)="onLazyLoad($event)"
          [showCurrentPageReport]="true"
          styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">{{ ts.t('permissions.id') }} <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name">{{ ts.t('permissions.name') }} <p-sortIcon field="name"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-perm>
      <tr>
        <td>{{ perm.id }}</td>
        <td>{{ perm.name }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr><td colspan="2" class="text-center">{{ ts.t('permissions.no_data') }}</td></tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [header]="editMode ? ts.t('permissions.edit') : ts.t('permissions.add')" [(visible)]="showDialog"
          [modal]="true" [style]="{ width: '400px' }" (onShow)="onDialogShow()">
  <div class="dialog-form">
    <div class="field">
      <label>{{ ts.t('permissions.name') }}</label>
      <input #permNameInput type="text" pInputText [(ngModel)]="permName" [placeholder]="ts.t('permissions.name')" />
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton [label]="ts.t('common.cancel')" icon="pi pi-times" class="p-button-text" (click)="showDialog = false"></button>
    <button pButton [label]="ts.t('common.save')" icon="pi pi-check" (click)="save()"></button>
  </ng-template>
</p-dialog>
